[Unit]
Description=one deamon
After=rc-local.service

[Service]
Type=simple
User=root
Group=root
ExecStart=/usr/bin/nohup /usr/bin/python /root/onecode/server.py m>> /root/onecode/one.log 2>&1 &
ExecStop=/usr/bin/bash /root/onecode/stop.sh
Restart=always
LimitNOFILE=512000
[Install]
WantedBy=multi-user.target