[Unit]
Description=ss2 deamon
After=rc-local.service

[Service]
Type=simple
User=root
Group=root
ExecStart=/usr/bin/nohup /usr/bin/python /soft1/shadowsocks/server.py m>> /soft1/shadowsocks/ss2.log 2>&1 &
ExecStop=/usr/bin/bash /soft1/shadowsocks/stop.sh
Restart=always
LimitNOFILE=512000
[Install]
WantedBy=multi-user.target