[Unit]
Description=sss
After=rc-local.service

[Service]
Type=simple
User=root
Group=root
ExecStart=/usr/bin/nohup /usr/bin/python /opt/shadowsocks/server.py m>> /opt/shadowsocks/sss.log 2>&1 &
ExecStop=/usr/bin/bash /opt/shadowsocks/stop.sh
Restart=always
RestartSec=5s
LimitNOFILE=102400
[Install]
WantedBy=multi-user.target
