[Unit]
Description=sss
After=rc-local.service

[Service]
Type=simple
User=root
Group=root
ExecStart=/usr/bin/nohup /usr/bin/python /opt/shadowsocks/server.py
Restart=always
RestartSec=3s
LimitNOFILE=32768

[Install]
WantedBy=multi-user.target
